:root {
  --headdings-font-family: "DM Serif Text", serif;
  --default-font-family: "Quicksand", sans-serif;
  --primary-bckground-color: #e1dfde;
  --default-text-color: #1b1b1b;
}

body {
  background: var(--primary-bckground-color);
  font-family: var(--default-font-family);
  color: var(--default-text-color);
  padding-bottom: 50px;
}

.hero {
  text-transform: uppercase;
  margin: 100px 250px 100px 250px;
}

.hero-primary {
  font-family: var(--headdings-font-family);
  font-size: 65px;
  direction: rtl;
  margin-top: 20px;
}

.hero-secondary {
  font-size: 40px;
}

.hero-paragraph {
  font-size: 22px;
  direction: rtl;
}

.default-button {
  border-radius: 30px;
  background: var(--default-text-color);
  color: var(--primary-bckground-color);
  text-decoration: none;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  width: 200px;
}

.default-button:hover {
  opacity: 0.8;
  color: var(--primary-bckground-color);
}

.hero-button {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.project-featuring {
  text-align: center;
  margin-bottom: 80px;
  font-size: 20px;
}

.arrow-icon {
  font-size: 40px;
  margin-top: 10px;
  text-decoration: none;
  color: var(--default-text-color);
}

.headdigs {
  font-family: var(--headdings-font-family);
}

.project-description {
  line-height: 1.7;
  margin-right: 30px;
}

.project-image {
  border-radius: 4px;
}

.footer {
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
}

.social-media-icon {
  text-decoration: none;
  color: var(--default-text-color);
}

.social-media-icon:hover {
  opacity: 0.8;
  font-size: 35px;
  transition: all 300ms ease-in-out;
}

.content {
  margin: 100px 250px 0 250px;
}

.content h1 {
  font-family: var(--headdings-font-family);
  font-size: 65px;
}

.content h2 {
  font-size: 30px;
}

.about-image {
  border-radius: 4px;
}

.card-body {
  background: rgb(27, 27, 27, 0.4);
  color: var(--default-text-color);
  text-align: left;
}

.contact-list {
  list-style: none;
}

.contact-link {
  text-decoration: none;
  color: var(--default-text-color);
}

.contact-link:hover {
  color: var(--default-text-color);
  font-weight: 500;
}

.navigation {
  padding: 20px 0 0 0;
}
.navigation-list {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.navigation-list li {
  display: inline;
}

.navigation-list a,
.navigation-name {
  text-decoration: none;
  color: var(--default-text-color);
  margin-right: 20px;
}

.navigation-name:hover {
  color: var(--default-text-color);
  font-weight: 600;
}

.navigation-list a:hover {
  font-weight: 600;
  color: #ff7e4f;
}
.active {
  font-weight: 600;
  /* color: #ff7e4f; */
}

@media (max-width: 1000px) {
  body {
    text-align: center;
  }

  .hero {
    margin: 30px 0;
  }

  .hero-primary {
    font-size: 40px;
    text-align: center;
    margin: 30px 0;
  }

  .hero-secondary {
    font-size: 20px;
  }

  .hero-paragraph {
    display: none;
  }

  .responsive-button {
    display: flex;
    justify-content: center;
  }

  .project-featuring {
    margin-bottom: 20px;
  }

  .project-description {
    margin-right: 0;
  }
  .content h1 {
    font-size: 45px;
  }
}
@media (max-width: 1300px) {
  .content {
    margin: 40px 10px 0 10px;
  }

  .about-button {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
}
